.slider{
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .sliderTrack {
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 28);
    overflow: hidden;
}

.slider .slide{
    width: 200px;
}

.slider .slide img{
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transfrom: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transfrom: translateX(calc(-200px * 7));
    }
}